// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #4563E6;
$secondary-color: #F5F5F5;
$accent-color: #FFBE12;
$accent-color-hover: #ffcc00;
$text-color: #fff;
$text-color-dark: #333;
$gradient-color: linear-gradient(to bottom, #05AAF0 0%, #3673E9 100%);

// Sizes
$vertical-padding: 10px;
$horizontal-padding: 26px;